a {
    font-size: 2rem;
}
.top{
    display: flex;
    justify-content: space-around;
}
img {
    height: 60vh;
    width: auto;
    max-width: 100%;
}
.scroll-left,.scroll-right{
    padding: 1em;
    border: 3px solid rgb(14, 71, 23);
    margin-left: 2%;
    margin-right: 2%;
}

.container1{
    border: 5px solid black;
    width: 40%;
    margin: auto;
    overflow: hidden;
    w
}
.carousel-slide,.button-cont{
    display: flex;
}
.button-cont{
    justify-content: center;
    padding: 3em;
}

.carousel-slide > img {

}