a {
    font-size: 2rem;
}
.top{
    display: flex;
    justify-content: space-around;
}
img {
    height: 60vh;
    width: auto;
    max-width: 100%;
}
.scroll-left,.scroll-right{
    padding: 1em;
    border: 3px solid rgb(14, 71, 23);
    margin-left: 2%;
    margin-right: 2%;
}

.container1{
    border: 5px solid black;
    /* width: fit-content; */
    width: 341px;
    margin: auto;
    overflow: hidden;
    
}
.carousel-slide, .button-cont{
    display: flex;
}

.carousel-slide{
    transition: ease-in-out 1s;
}
.button-cont{
    justify-content: center;
    padding: 3em;
}

#carouselExampleInterval{
    width: 50%;
    margin-left: 25%;
}

.part2img{
flex-shrink: 0;
min-width: 100%;
min-height: 100%
max-width 341px;
}